<!DOCTYPE html>
<!--   -->
<html>
  <head>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="faviconThings/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="faviconThings/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="faviconThings/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="faviconThings/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="faviconThings/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="faviconThings/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="faviconThings/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="faviconThings/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="faviconThings/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="faviconThings/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="faviconThings/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="faviconThings/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="faviconThings/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="faviconThings/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="faviconThings/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="faviconThings/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="faviconThings/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="faviconThings/mstile-310x310.png" />
    <title>Login</title>
    <meta charset="utf-8" lang="en"/>
    <style type="text/css">
      #subButton:hover, #subButton:active {
        color: #FFFFFF;
        background-color: #000000;
      }
      #returnButton:hover, #returnButton:active {
        color: #FFFFFF;
        background-color: #000000;
      }
      #username{
        background-color: #DDDDDD;
      }
      #password{
        background-color: #DDDDDD;
      }
    </style>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>

  <body style="margin-left:20%;margin-right:20%;background-color:#006635" onpaste="return false">
    <div style="background-color:#ffffff;border-radius: 25px">
      <h1 style="text-align:center;font-family:leelawadee ui">Login</h1>
      <form id = "login" action="#" autocomplete="off">
        <input id="username" type="text" name="username" placeholder="Username" onkeypress="editKeyBoard(event, this, keybNumberAndAlpha)" style="font-size:20px;font-family:leelawadee ui;width:80%;margin-left:9%;margin-right:11%;padding:5px;margin-top:5%">
        <br>
        <input id="password" type="password" name="password" placeholder="Password" onkeypress="editKeyBoard(event, this, keybNumberAndAlpha)" style="font-size:20px;font-family:leelawadee ui;width:80%;margin-left:9%;margin-right:11%;padding:5px">
        <br>
        <br>
        <span id="response" style="margin-left:5%;color:red"></span>
        <br>
        <button id="returnButton" style="border:none;width:100%;padding:10px;margin-bottom:20px;">Return to Home</button>
        <br>
        <input type="submit" id = "subButton" value="Login" style="border:none;width:100%;padding:10px;margin-bottom:20px;">
      </form>
    </div>
  <script src = "js/login.js"></script>
  <script src = "js/xssRestrictions.js"></script>
  </body>
</html>